<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cssca.automation.uitest.dao.KeywordDao">

	<!-- select语句 -->
	<select id="selectKeywordByID" parameterType="int" resultType="Keyword">
		select * from keyword where id = #{id}
	</select>

	<select id="getKeywordByName" parameterType="string"
		resultType="Keyword">
		select * from keyword where name = #{name}
	</select>

	<!--执行增加操作的SQL语句。id和parameterType分别与IUserOperation接口中的addUser方法的名字和参数类型一致。 
		useGeneratedKeys设置为"true"表明要MyBatis获取由数据库自动生成的主键；keyProperty="id"指定把获取到的主键值注入到User的id属性 -->
	<insert id="insertKeyword" parameterType="Keyword" useGeneratedKeys="true"
		keyProperty="id">
		insert into keyword(name,element,action,hasparm,description,userId)
		values(#{name},#{element},#{action},#{hasparm},#{description},#{userId})
	</insert>

	<update id="updateKeyword" parameterType="Keyword">
		update keyword set
		name=#{name},element=#{element},action=#{action},hasparm=#{hasparm},description=#{description},userId=#{userId}
		where id=#{id}
	</update>

	<delete id="deleteKeyword" parameterType="int">
		delete from keyword 
		where id=#{id}
	</delete>

	<select id="getAllKeywords" resultType="Keyword">
		select * from keyword
	</select>
	
	<select id="getMyKeywords" resultType="Keyword" parameterType="int">
		select * from keyword
		where userId=#{userId}
	</select>
	
	<select id="getOthersKeywords" resultType="Keyword" parameterType="int">
		select * from keyword
		where userId!=#{userId}
	</select>
</mapper>